<form [formGroup]="exportFileForm" (ngSubmit)="onSubmitForm()">
    <div class="contain">
        <div>
            <button mat-stroked-button color="accent" class="filename"><label for="file">{{filename}}</label></button>
            <input type="file" id="file" class="inputfile" #UploadFileInput (change)="onFileChange($event)" multiple="multiple" accept=".xlsx, .xlsx" formControlName="file" />
        </div>
        <div>
            <button mat-button mat-dialog-close>Annuler</button>
            <button mat-button [mat-dialog-close]="true" cdkFocusInitial type="submit">Importer</button>
        </div>
    </div>
</form>