.contain {
    overflow: auto;
    //background-color: rgba(255, 234, 167, 0);
    height: 95vh;
    width: 1fr;
    div {
        padding: 0.5vh;
    }
    .container>div:first-child>div,
    .container>div:nth-child(2)>div:nth-child(3) {
        max-height: 50vh;
        min-width: 35vw;
        overflow: auto;
    }
    .container>div:nth-child(3)>div:nth-child(3) {
        max-height: 50vh;
        min-width: 70vw;
        overflow: auto;
    }
    .container>div:nth-child(2) {
        min-width: 30vw;
    }
    .container {
        margin: 0;
        padding-top: 5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        canvas {
            min-height: 30vh;
        }
        div:nth-child(4)>div:nth-child(2) {
            display: flex;
            flex-direction: row;
            div:first-child {
                max-height: 50vh;
                overflow: auto;
                table {
                    min-width: 70vw;
                    max-width: 70vw;
                }
            }
            .legend {
                max-width: 25vw;
                max-height: 50vh;
                overflow: auto;
                table {
                    width: 20vw;
                }
            }
        }
        .choice {
            display: flex;
            justify-content: right;
        }
    }
    .selection {
        position: fixed;
        background-color: rgba($color: #ffff, $alpha: 1);
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        z-index: 100;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        .option-mat {
            width: 2000px;
            background-color: red;
            font-size: 10px;
        }
    }
}

table {
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    td,
    th {
        padding: 0.5vh;
    }
}

tr:hover:not(.sticky-head) {
    background: rgba($color: #dfe6e9, $alpha: 0.5);
}

#myChart2 {
    min-width: 70vw;
    max-width: 70vw;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' -25, 'opsz' 48
}